# Dependencies
node_modules/

# Env
.env
.env.local
.env.development
.env.test
.env.production
.env.staging

# System Files
.DS_Store
Thumbs.db

# pixi environments
/visionary/.pixi
/visionary/*.egg-info

# mypy cache
/visionary/.mypy_cache

# ruff cache
/visionary/.ruff_cache

# black cache
/visionary/.black_cache

# pycache
/visionary/__pycache__

.mypy_cache
.ruff_cache
.black_cache
.sst