# Dependencies
node_modules/

# Env
/src/.env
/src/.env.local
/src/.env.development
/src/.env.test
/src/.env.production
/src/.env.staging

# System Files
.DS_Store
Thumbs.db

# pixi environments
/src/visionary/.pixi
/src/visionary/*.egg-info

# mypy cache
/src/visionary/.mypy_cache

# ruff cache
/src/visionary/.ruff_cache

# black cache
/src/visionary/.black_cache

# pycache
/src/visionary/__pycache__

.mypy_cache
.ruff_cache
.black_cache
